---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="Don Tequila">
  <main>
    <Header/>
    <nav class="card-grid">
      <Card
        title="Margarita"
        body="$300"
        href="/"
        foto="https://th.bing.com/th/id/OIP.h_SKmGnRHz3w452RjJyI_gHaEz?rs=1&pid=ImgDetMain"
      />
      <Card
        title="Ron Collins"
        body="$300"
        href="/"
        foto="https://th.bing.com/th/id/OIP.8Shcvv2O-4yz04LdY1qESwHaE3?rs=1&pid=ImgDetMain"
      />
      <Card
        title="Chelada"
        body="$300"
        href="/"
        foto="https://th.bing.com/th/id/R.f0aea0d9846b19a01e492e37e09f118f?rik=d1a8iPXR33vtVw&pid=ImgRaw&r=0"
      />
    
      <Card
        title="Cubanito"
        body="$300"
        href="/"
        foto="https://th.bing.com/th/id/OIP.JgXZCz0Qsbjcrx6BuE_e5QHaFp?w=1200&h=914&rs=1&pid=ImgDetMain"
        .
      />
	  <Card
        title="CubaLibre"
        body="$300"
        href="/"
        foto="https://visitcubago.com/wp-content/uploads/2020/07/cubalibre.jpg"
      />
	  <Card
        title="Daiquiri"
        body="$300"
        href="/"
        foto="https://th.bing.com/th/id/R.1ff7c0b42ba294e0806352d9f1b99cdd?rik=TqlmahhchvHeKw&pid=ImgRaw&r=0"
      />
	  <Card
        title="Bloody Mary"
        body="$300"
        href="/"
        foto="https://sommelier.com.pe/wp-content/uploads/WhatsApp-Image-2023-01-03-at-3.55.26-PM.jpeg"
      />
	  <Card
        title="Jugo de Tomate"
        body="$300"
        href="/"
        foto="https://recetinas.com/wp-content/uploads/2023/03/batido-de-tomate.jpg"
      />
	  <Card
        title="Limonada"
        body="$300"
        href="/"
        foto="https://th.bing.com/th/id/OIP.XMdpow0SRMklqurfzM9QfwHaEK?rs=1&pid=ImgDetMain"
      />
	  <Card
        title="Mojito"
        body="$300"
        href="/"
        foto="https://flavorfix.com/wp-content/uploads/2021/04/mojito-recipe-2048x1365.jpeg"
      />
	  <Card
        title="Caipirinha"
        body="$300"
        href="/"
        foto="https://lp-cms-production.imgix.net/2020-11/GettyRF_996205956.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850&q=23&dpr=4"
      />
	  <Card
        title="Caipiroska"
        body="$300"
        href="/"
        foto="https://dolciveloci.it/wp-content/uploads/2020/05/SH_cocktail_caipiroska_lima_menta.jpg"
      />
	  <Card
        title="Caipirissima"
        body="$300"
        href="/"
        foto="https://cocktailbrewery.nl/wp-content/uploads/2016/02/Caipirissima-2-2708x1805.jpg"
      />
    </nav>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 2;
  }
</style>
