---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="Don Tequila">
  <main>
    <Header />
    <nav class="card-grid">
      <Card
        title="Taquito"
        body="$300"
        href="/"
        foto="/public/header_foto.jpg"
      />
      <Card
        title="Taquito"
        body="300"
        href="/"
        foto="/public/header_foto.jpg"
      />
      <Card
        title="Taquito"
        body="300"
        href="/"
        foto="/public/header_foto.jpg"
      />
      <Card
        title="Taquito"
        body="300"
        href="/"
        foto="/public/header_foto.jpg"
        .
      />
    </nav>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 2;
  }
</style>
