---

---
<div>
    <img class="img_header" src="blob:https://www.pinterest.com/cfdb4970-0af4-4af6-b0e8-3ce98a33d075" alt="">
</div>

<section>
    <a href="/Menu">Menu</a>
    <a href="/Bebidas">Bebidas</a>
    <a href="/Comida">Comida</a>
</section>

<style>
    div{
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

    img{
        max-width: 100%;
    }
    section{
        display: flex;
        padding: 2px;
        justify-content: center;
    }
    a{
        font-size: 30px;
        color: wheat;
        margin: 5px;
        text-decoration: none;
        user-select: none;
    }
</style>
